<section class="about__page">
  <h1 class="title">Rick & Morty GraphQL App</h1>
  <div class="about__container">
    <div class="about__paragraph">
      <p>
        Angular 12 + GraphQL API. Laborum quasi repudiandae consequuntur! Nulla.
        Placeat, sunt laborum, nostrum praesentium odio quasi natus hic officia
        provident quis consectetur asperiores necessitatibus eum reiciendis.
      </p>
      <figure class="about__img">
        <img
          src="/assets/img/web_dev.svg"
          alt="Web dev image"
          class="about__picture"
          rel="preload"
          as="image"
          width="406"
          height="306"
        />
      </figure>
    </div>
  </div>
  <p class="about__copy">
    Developed by <span class="text-white">Ricky & Picky</span>
  </p>
</section>
